<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	    			<li><font size="3"><a href="/PriyaAvhad.pdf">CV</a></font></li>
	        		<li><font size="3"><a href="mailto:avhad.priya24@gmail.com">email</a></font></li>
	        		<li><font size="3"><a href="https://github.com/PriyaAvhad">github.com/PriyaAvhad</a></font></li>
				</ul>
			</footer>
		</body>
	</html>
